<?xml version="1.0"?>
<launch>

	<param name="robot_description" command="$(find xacro)/xacro '$(find neo_mpo_500)/robot_model/mpo_500/mpo_500.urdf.xacro'" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

	<!-- start node -->
	<node pkg="pilot_ros_bridge" type="pilot_ros_bridge_node" name="pilot_ros_bridge_node" respawn="false" output="screen">

		<param name="pilot_node" type="str" value="$(env HOME)/pilot/.pilot_main.sock"/>

		<param name="pilot_config" type="str" value="$(find pilot_ros_bridge)/config/default/mpo-500/"/>
	</node>

</launch>
